/* navbar */
.navbar-light .navbar-brand{
    font-weight: bold;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
    color:#71838F;
}

hr{
    color: rgba(0, 0, 0, 0.3);
    margin-top: 0%;
}


#image{
    width: 11vw;
    height: 11vw;
    min-width: 100px; 
    min-height: 100px;
    object-fit: cover;
    margin-left: 10%;
}




#portfolio-icon{
    width: 2vw;
    height: 2vw;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;
    margin-left:4%;
    margin-top: 4%;
    margin-bottom: 4%;
}



#self-intro{
    color: #71838F;
    margin-bottom: 2%;
    text-align: left;
}

#skill{
    background-color: rgba(214, 199, 178, 0.2);
    color:#71838F;
    font-size: 1em;
    text-align: center;
}


#skill-icon{
    width: 5vw;
    height: 5vw;
    min-width: 30px;
    min-height: 30px;
    margin-top: 2vw;
}

#experience-card{
   width: 90%;
   margin-top: 2vw;

}
#experience-card-header{
    background-color: white;
    color:#71838F;
    font-weight: bold;
}

#experience-icon{
    height: 3vw;
    min-height: 40px;
}

#myrepublic-icon{
    height: 2vw;
    min-height: 25px;
}

.card-body{
    color: #71838F;
}

#projects{
    background-color: rgba(214, 199, 178, 0.2);
    margin-top: 2vw;
}

#projects-row{
    margin-left: 1%;
}


#projects-icon{
    width: 7vw;
    height: 7vw;
    min-width: 70px;
    min-height: 70px;
    
}

#projects-card{
    border: none;
}

#projects-card-header, #projects-card-body{
    background-color: rgba(214, 199, 178, 0.2);
    border: none;
    color: #D39394 ;
}

.card-text{
    color:#71838F;
}

.btn-outline-primary{
    border-color: #D39394!important;
    color: #D39394!important;

} 

.btn-outline-primary:hover{
    background-color: #D39394;
    color: white!important;
 
}



#projects-col{
    display: grid; 
    justify-content: center; 
    align-items: center;
}

